<div class="bg">
    <div class="log">
        <!-- <img style="margin: 0px 5px;"
                src="https://sites.google.com/a/charusat.ac.in/hirenmewada/courses-taught/digital-image-processing" /> -->
        <button>
            <a href="/teacher/login">Teacher Login</a>
        </button>
        <button>
            <a href="/student/login">Student Login</a>
        </button>
    </div>
</div>